.dk-dosi-profile-container {
    font-size: 15px;
    padding: 20px 0;
}

.dk-container {
    min-height: 500px;
}

.dk-dosi-profile-container a {
    text-decoration: underline;
    color: darkblue;
}

#dk-dosi-profile-table {
    width: 800px;
    max-width: 100%;
}
#dk-dosi-profile-table tr:nth-child(even) {
    background: rgb(224, 224, 224);
}

.option_button {
    cursor: pointer;
}