body {
    width: 100%;
    padding: 10px;
}

.popup_dk_floor_price_table {
    border-color: gray;
    font-size: 16px;
}
.popup_dk_floor_price_table th{
    min-width: 90px;
    text-align: center;
    font-size: 12px;
}

.popup_dk_floor_price_table td{
    min-width: 90px;
    font-size: 14px;
}

.option_button {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.popup_dk_head_container {
    display: flex;
    flex-direction: row;
}
.popup_dk_head_container .popup_dk_filter {
    order: 1;
}
.popup_dk_head_container .popup_dk_updated {
    order: 2;
}